.admin {
  .adminContent {
    background-color: $color-2;
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    h3 {
      background: $color-2;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      position: relative;
      top: 5rem;
      text-decoration: underline;
    }
  }
}

.adminForm {
  position: relative;
  top: 12rem;
  background: $color-3;
  margin: 0 auto;
  padding: 1rem 3rem;
  z-index: 2;
  border-radius: $borderRadius;
  box-shadow: 0 2px 3px $black;
  height: 20%;
  width: 45%;
  min-width: 350px;
  min-height: 200px;

  .unLock {
    cursor: pointer;
  }
}

.fail-login {
  color: $black;
  font-size: 0.9rem;
}

@media screen and (min-width: 350px) and (max-width: 850px) {
  h3 {
    top: 2rem !important;
    text-align: center !important;
    font-size: 1.2rem !important;
  }
  .adminForm {
    position: relative !important;
    top: 6rem !important;
    padding: 1rem 2rem !important;
  }
}
