.contact {
  .contactContent {
    // background-color: $color-2;
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 45% 35%;
    grid-template-areas:
      '1'
      '2'
      '3';

    .header {
      grid-area: 1;
      width: 100%;
      position: relative;
      // background: $color-2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      text-decoration: underline;
    }
  }
}

.contact-form {
  grid-area: 2;
  background: $color-3;
  margin: 0 auto;
  padding: 1rem 3rem;
  z-index: 2;
  border-radius: $borderRadius;
  box-shadow: 0 2px 3px $black;
  width: 45%;
  min-width: 350px;
  min-height: 200px;

  .send {
    cursor: pointer;
  }
}

.info {
  grid-area: 3;
  width: 100%;
  position: relative;
  // background: $color-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    color: $color-1;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .map {
    font-size: 1.1rem;
    color: $black;
  }

  .phone {
    font-size: 1.1rem;
    color: $black;
  }

  .mail {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1rem;
    color: $black;
  }

  i {
    transform: translate(-25px, 20px);
  }
}

.email-err {
  // color: $black;
  font-size: 0.9rem;
}

.message-err {
  // color: $black;
  font-size: 0.9rem;
}

.form-message {
  letter-spacing: 0.05rem;
  text-align: center;
  margin: 0.1rem;
  font-size: 0.9rem;
  // color: $color-1;
}

@media screen and (min-width: 375px) and (max-width: 850px) {
  .header {
    padding-bottom: 4rem !important;
    font-size: 1.2rem !important;
  }
  .info {
    height: 17rem !important;
  }

  .mail {
    position: relative !important;
    left: 0.8rem !important;
  }
}
