.home {
  .homeContent {
    background-color: $color-2;
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $font-1;

      h2 {
        padding-top: 4rem;
        font-size: 1.7rem;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-decoration: underline;
      }

      h3 {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        padding-bottom: 1.5rem;
        text-decoration: underline;
      }
    }
  }
}

.sphere {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 850px) {
  .homeContent {
    height: 100% !important;
    text-align: center !important;
  }
  h2 {
    padding-top: 2rem !important;
    font-size: 1.4rem !important;
    text-transform: uppercase !important;
  }
  h3 {
    font-size: 0.9rem !important;
  }
}
