.portfolio {
  .portfolioContent {
    background: $color-2;
    width: 100%;
    display: grid;
    min-height: $minHeight;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      '1'
      '2';
  }

  .radioDisplay {
    grid-area: 1;
    border-radius: $borderRadius;
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: $color-2;
    user-select: none;

    li {
      color: $black;
      font-size: 0.9rem;
      text-transform: uppercase;
      padding: 0 1rem;
      flex: 1;
      z-index: 2;
      @include verticalCenter;

      input[type='radio'] {
        visibility: visible;
        position: relative;
        margin-right: 0.3rem;

        &:before {
          content: '';
          visibility: hidden;
          position: absolute;
          top: -4px;
          left: -12px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          border: 2px solid $color-3;
          cursor: pointer;
          transition: 0.3s;
        }
        &:after {
          content: '';
          visibility: visible;
          position: absolute;
          top: -4px;
          left: -12px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.3s;
          background: $color-2;
          transform: scale(0);
          transform-origin: center;
        }
      }
      input:checked:after {
        transform: scale(1.17) translate(-25%, -25%);
        top: 2px;
        left: -6px;
      }
      input:checked + label {
        color: $color-1;
      }
      label {
        cursor: pointer;
      }
    }
  }
  .projects {
    grid-area: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .project {
      background: $color-3;
      border-radius: $borderRadius;
      margin: 0.5rem 0 0 0;
      text-align: center;
      width: 32%;
      height: 20rem;
      padding: 0.3rem;
      box-shadow: $shadow;
      display: grid;
      grid-template-rows: 20% 15% 65%;
      grid-template-areas:
        '1'
        '2'
        '3';
    }
    .icons {
      grid-area: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      i {
        font-size: 1.2rem;
        padding: 0 0.35rem;
        color: $black;
        text-shadow: 0 0px 1px $color-2;
      }
    }
    h3 {
      color: $black;
      grid-area: 1;
      text-decoration: underline;
      font-family: $font-1;
      font-size: 1.2rem;
      @include verticalCenter;
      justify-content: center;
      transform: translateY(-20px);
    }
    img {
      grid-area: 3;
      margin: 0 auto;
      height: 100%;
      max-width: 100%;
      max-height: 98%;
      box-shadow: 0 2px 6px $black;
      border-radius: 3px;
      @include verticalCenter;
      cursor: pointer;
    }

    .showInfos {
      background: $color-3;
      border-radius: $borderRadius;
      margin: 0.5rem 0 0 0;
      text-align: center;
      width: 32%;
      height: 20rem;
      padding: 0.3rem;
      box-shadow: $shadow;
      display: grid;
      grid-template-rows: 20% 65% 15%;
      grid-template-areas:
        '1'
        '2'
        '3';

      h3 {
        grid-area: 1;
        display: flex;
        justify-content: center;
        color: $black;
        text-decoration: underline;
        font-family: $font-1;
        font-size: 1.2rem;
        @include verticalCenter;
      }

      .text {
        grid-area: 2;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        color: $color-1;
        text-align: center;
        margin: 0 1.5rem 0 1.5rem;
      }

      .show {
        font-size: 0.2rem;
        grid-area: 3;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          background: $color-3;
          border-radius: 50%;
          padding: 0.3rem 0.5rem;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            background: $color-2;
          }
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 580px) {
  .radioDisplay {
    display: none !important;
  }
  .portfolio {
    .portfolioContent {
      grid-template-rows: 1fr !important;

      .project {
        grid-template-rows: 30px 40px 80px 50px !important;
        width: 98% !important;
        max-height: 100% !important;

        .icons {
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
        }

        img {
          min-height: 14rem !important;
          max-width: 20rem !important;
        }
        h3 {
          position: relative !important;
          top: 1rem !important;
        }
      }

      .showInfos {
        grid-template-rows: 20% 65% 15%;
        width: 98% !important;
        max-height: 100% !important;
      }
      .text {
        text-align: center;
        margin: 0 1.5rem 0 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 581px) and (max-width: 850px) {
  .portfolio {
    .portfolioContent {
      grid-template-rows: 1fr !important;
      .projects {
        background: $color-2 !important;

        .project {
          height: 17rem !important;
        }
        .showInfos {
          height: 17rem !important;
        }
      }
    }
  }
}
